
//- nav(class="navbar navbar-expand-lg navbar-light bg-light fixed-top jq-navbar-change-color")
//-     div(class="container-fluid") 
//-         a(class="navbar-brand" href="index.html") 
//-             <svg viewBox="0 0 960 300">
//-                 <symbol id="s-text">
//-                     <text text-anchor="middle" x="50%" y="80%">Learning</text>
//-                 </symbol>
//-                 <g class="g-ants">
//-                     <use xlink:href="#s-text" class="text-copy"></use>
//-                     <use xlink:href="#s-text" class="text-copy"></use>
//-                     <use xlink:href="#s-text" class="text-copy"></use>
//-                     <use xlink:href="#s-text" class="text-copy"></use>
//-                     <use xlink:href="#s-text" class="text-copy"></use>
//-                 </g>
//-             </svg>
//-         button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
//-             span(class="navbar-toggler-icon")
//-         div(class="collapse navbar-collapse" id="navbarSupportedContent")
//-             ul(class="navbar-nav ")
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='html.html') html
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='pug.html') Pug
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='css.html') Css 
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='scss.html') Scss 
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='bootstrap.html') Bootstrap 
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='javascript.html') Javascript      
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='es6.html') Es6
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='dom.html') Dom
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='bom.html') Bom
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='oop.html') Oop
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='jquery.html') Jquery
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='json.html') Json
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='ajax.html') Ajax
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='vue.html') Vue
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='gulp.html') Gulp
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='command-line.html') commend Line
//-                 li(class="nav-item")
//-                     a(class="nav-link" href='test.html') test

