//- start scroll to top

//- a(href="#" class="scroll-to-top" id="scroll-to-top-2")
//-     i(class="fa fa-chevron-circle-up fa-2x fa-fw")







//- Start Toggle Products Description
//- div(class='toggle-products-description')
//-     div(class='product') 
//-         h3(class="h3") Product One
//-         span(class="date") 20/8/2021
//-         img(src="images/pharmacy/3.jpg" alt="alt")
//-         i.fa.fa-plus.fa-lg 
//-         p(class="lead") This Is Test Description
//-     div(class='product') 
//-         h3(class="h3") Product Tow
//-         span(class="date") 20/8/2021
//-         img(src="images/pharmacy/3.jpg" alt="alt")
//-         i.fa.fa-plus.fa-lg 
//-         p(class="lead") This Is Test Description
//- End Toggle Products Description



//- Start Product View
//- div(class='view-options')
//-     span(class="icon-disc-word" data-text="List View")
//-         i(class="active fas fa-list fa-3x" data-class="products-list-view")
//-     span(class="icon-disc-word" data-text="Grid View")
//-         i(class="fas fa-th-large fa-3x" data-class="products-grid-view")
//- div(class='products products-list-view ')
//-     div(class='product') 
//-         div(class='')
//-             h3(class="h3") Product One
//-             span(class="date") 20/8/2021
//-             p(class="lead") This Is Test Description
//-         div(class='')
//-             img(src="images/pharmacy/3.jpg" alt="alt")
//-             i.fa.fa-plus.fa-lg 
//-             p(class="lead") This Is Test Description
//-     div(class='product') 
//-         div(class='')
//-             h3(class="h3") Product Tow
//-             span(class="date") 20/8/2021
//-             p(class="lead") This Is Test Description
//-         div(class='')
//-             img(src="images/pharmacy/3.jpg" alt="alt")
//-             i.fa.fa-plus.fa-lg 
//-             p(class="lead") This Is Test Description
//- End Product View



//- Error Massage
//- div(class='error-massage') This Is Error Massage

//- Start Form Hide Placeholder
//- div(class='container')
//-     div(class='our-form')
//-         form(action="" method="method")
//-             div(class='input-group')
//-                 input(type='text' name='inputText' id='inputText' placeholder='Name' class='form-control' required='required' )
//-                 div(class='valid')
//-                     span(class='valid')
//-                         i(class="fas fa-check fa-1x")
//-                     span(class='unValid')
//-                         i(class="fas fa-times fa-1x")
//-             div(class='input-group')
//-                 input(type='email' name='inputEmail' id='inputEmail' placeholder='Example@yahoo.com' class='form-control' required='required')
//-                 div(class='valid')
//-                     span(class='valid')
//-                         i(class="fas fa-check fa-1x")
//-                     span(class='unValid')
//-                         i(class="fas fa-times fa-1x")
//-             div(class='input-group')
//-                 input(type='password' name='inputPassword' id='inputPassword' placeholder='Your Password' class='form-control' required='required')
//-                 div(class='valid')
//-                     span(class='valid')
//-                         i(class="fas fa-check fa-1x")
//-                     span(class='unValid')
//-                         i(class="fas fa-times fa-1x")
//-             div(class='input-group')
//-                 textarea(name='' id='' cols='30' rows='10' placeholder='text area' class='form-control' )
//-             div(class='input-group')
//-                 input(type='file' name='inputFile' id='inputFile' class='form-control')
//-             div(class='input-group')
//-                 input(type='text' name='inputText' placeholder='Type Tags' class='form-control add-tag' )
//-                 div(class='tags')

//-             input(type='submit' name='inputSubmit' id='inputSubmit' value='Input Submit')
//- End Form Hide Placeholder

//- trimmed
//- div(class='trimmed-text')
//-     p(class="lead") Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ut blanditiis quia harum animi reprehenderit explicabo autem, tenetur aliquid dolores ea perferendis quibusdam quaerat earum veritatis vero ipsa ratione sint.


//- div(class='container same-height')
//-     div(class='one') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, facere excepturi. 
//-     div(class='tow') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, facere excepturi. Quam sapiente perspiciatis quidem ducimus aspernatur 
//-     div(class='three') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, facere excepturi. Quam sapiente perspiciatis quidem ducimus aspernatur rem dolorem modi earum asperiores dolores aut at ipsam maxime inventore, distinctio ullam!

//- div(class='container')
//-     div(class='jq-cards')
//-         div(class='card card-one')
//-         div(class='card card-tow')
//-         div(class='card card-three')
//-         div(class='card card-four')
//-         div(class='card card-five')
//-         div(class='card card-sex')




//- div(class='container')
//-     h3(class="h3 blink-warning") This Is Warning

//- To Do List
//- div(class='container')
//-     div(class='todo-list')
//-         h3 Todo List
//-         ul(class="tasks") 
//-             li(class='li-task') Html
//-             li(class='li-task') pug
//-             li(class='li-task') css
//-             li(class='li-task') scss
//-             li(class='li-task') javascript
//-             li(class='li-task') javascript dom
//-             li(class='li-task') javascript bom
//-             li(class='li-task') jquery
//-             li(class='li-task') react.js
//-             li(class='li-task') vue.js 
//-             li(class='li-task') gulp
//-             li(class='li-task') bootstrap
//-             li(class='li-task') github
//-         form(action='' method='post' novalidate target='_blank' class="add-task")
//-             input(type='text' name='task' id='task-input' placeholder='Add List' class='form-control task-input')

div(class='container')
    div(class='row')
        div(class='col-sm-12')
            div(id="app")

